.ubuntu-mono-regular {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-mono-bold {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-mono-regular-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-mono-bold-italic {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  height: 100vh;
  font-family: "Ubuntu Mono", monospace;
  color: white;
  background-color: #000000;
  font-size: large;
}

.terminal-text {
  font-weight: normal;
  color: white;
  animation: glow 1s ease-in-out infinite alternate;
}

.terminal-points {
  color: white;
  font-weight: normal;
}

.terminal-tidle {
  color: skyblue;
  font-weight: normal;
}

.terminal-dollars {
  color: white;
  font-weight: normal;
}

.terminal-input {
  background-color: #000000;
  color: white;
  border: none;
  outline: none;
  padding: 5px;
  font-size: large;
}
